# Python
__pycache__/
*.patch
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# Flask instance folder
instance/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files
*.sqlite3
*.db

# Environment variables
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Static files (optional, if generated)
staticfiles/